/* https://www.gent.media/manrope */
@import url("https://fonts.googleapis.com/css?family=Manrope");

/* https://github.com/imashnake0/Animite/blob/main/app/src/main/java/com/imashnake/animite/features/theme/Color.kt */
body {
    /* Reset default padding */
    padding: 0;
    margin: 0;

    /* Font */
    font-family: "Manrope", Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 110%;
    color: #C2CBD5;

    /* Page */
    color-scheme: dark;
    background-color: #0A1625;
}

.content {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    padding-top: 2%;
    background-color: #152232a5;
}

table {
    border-collapse: collapse;
    background-color: #0A1625;
    border-radius: 10px;
    border-style: hidden;
    box-shadow: 0 0 0 3px #C2CBD5; /* This draws the table border  */ 
}

th, td {
    padding: 8px;
    border: 2px solid #c2cbd569;
}
